<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160701006-Thread-NSThread-synchronized.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D518167E1D2DE8CE00C42D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D51816971D2DE8CE00C42D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D51816A21D2DE8CE00C42D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
